/src/traces/*
*.o
*.d
.DS_Store
.vscode/
build/
bin/
out/
cmake-build-debug/
cpu_simulator
proj

# Ignore trace files
compute_fp_1
compute_int_0
srv_0

# Ignore compressed versions
*.gz

# Ignore large trace-like files
*.trace